/************************ COMMON CSS STARTS ************************/
	*{
		font-family: 'Roboto', sans-serif;
	}
	a, a:hover{
		color: #212121 !important;
		text-decoration: none;
	}
	.vmdl{
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}


	/*************** SCROLL CSS STARTS ***************/
		#scroll{
			position: fixed;
			display: none;
			right: 10px;
			bottom: 10px;
			cursor: pointer;
			width: 40px;
			height: 40px;
			background-color: #061a50;
			opacity: 0.9;
			display: none;
			z-index: 100;
			transition: 0.3s ease-in-out;
		}
		#scroll span{
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -8px;
			margin-top: -12px;
			height: 0;
			width: 0;
			border: 8px solid transparent;
			border-bottom-color: #ffffff;
			transition: 0.3s ease-in-out;
		}
		#scroll:hover{
    		opacity: 1;
    	}
    	#scroll:hover span{
      		top: 35%;
      	}
	/**************** SCROLL CSS ENDS ****************/


	/*************** HEADER CSS STARTS ***************/
		header{
		    position: relative;
		    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
			background-color: #fff;
			padding: 10px 0px;
		}
		header.sticky{
			position: fixed;
	        top: 0px;
	        width: 100%;
	        background-color: #fff;
	        z-index: 11111;
		    -webkit-animation-duration: 0.5s;
		    animation-duration: 0.5s;
		    -webkit-animation-fill-mode: both;
		    animation-fill-mode: both;
		    -webkit-animation-name: fadeInDown;
		    animation-name: fadeInDown;
		    border-bottom: 1px solid #f1f1f1;
		}
		header ul{
			height: 100%;
		}
		header .navbar-brand img{
			max-width: 90px;
		}
	/**************** HEADER CSS ENDS ****************/

/************************* COMMON CSS ENDS *************************/




/********************** INDEX-PAGE CSS STARTS **********************/

	.search-box .box input{
		position: relative;
	}
	.search-box .box a{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 25px;
	}

	.featured-video .box-video{
		-webkit-box-shadow: 0px 0px 14px 0px rgba(74,74,74,0.61);
-moz-box-shadow: 0px 0px 14px 0px rgba(74,74,74,0.61);
box-shadow: 0px 0px 14px 0px rgba(74,74,74,0.61);
	}

/*********************** INDEX-PAGE CSS ENDS ***********************/