<!-- HEADER STARTS -->

  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-6">
          <div class="navbar-brand">
            <a href="index.html"><img src="images/logo.png" class="img-fluid d-block" alt="LOGO"></a>
          </div>
        </div>
        <div class="col-md-6 col-6">
          <ul class="text-right justify-content-end d-flex align-items-center mb-0">
            <li class="d-inline-block mr-2"><a href="#">Sign Up</a></li>
            <li class="d-inline-block"><a href="#">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

<!-- HEADER ENDS -->